#wrapper {
  align-content: center;
}

.description {
  font-size: 1.3em;
  color: darkgreen;
}

.header {
  font-size: 2em;
}

#totalEarnedAmount {
  font-size: 1.5em;
}

.earnLabel {
  font-size: 1.5em;
}

.timeLabel, #time {
  font-size: 1.5em;
}

#toBeAppeared {
  display: none;
}

.error {
  color: red;
  display: none;
}

img {
  cursor: pointer;
}

#ICEwrapper {
  text-align: center;
}

#iceText {
  font-size: 2em;
  color: blue;
}

#iceTimer {
  font-size: 2.2em;
}

#test {
  color: white;
}
